*{
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Formularios*/

label{
	font-size: 1.5rem;
}

h1{
	padding: 13px;
	font-size: 2rem;
}

h2{
	font-size: 1.6rem;
}

form{
	display: block;
	text-align: center;
}
.entrada{
	font-size: 1.5rem;
	margin-bottom: 5px;
	width: 400px;
}

.submit{
	font-size: 1.5rem;
	width: 200px;
	background-color: #137DA5;
	color: #fff;
	border-radius: 5px;
	border: 1.5px solid #000;
	cursor: pointer;
}

button{
	font-size: 1.5rem;
}

select, option{
	font-size: 1.5rem;
	text-align: center;
}

input[type = 'time'], input[type = 'date']{
	font-size: 1.5rem;
	text-align: center;
}


/*Confirmaciones*/
.error{
	color:  red;
	font-size: 1.5rem;
}

.mensaje{
	margin-top: 5px;
	font-size: 1.5rem;
	text-align: center;
}
 b{
 	font-size: 1.5rem;
 }

.good{
	color: green;
	font-size: 1.5rem;
}

/*Tablas y estilo eliminar*/
.tabla{
	width: 700px;
	border-: 1px solid #000;
	border-collapse: collapse;
	font-size: 1.5rem;
	text-align: center;
}

.tabla th, .tabla td{
	border: 1px solid #000;
	font-size: 1.5rem;
}

.link{
	font-size: 1.5rem;
	text-decoration: none;
}

.cabecera{
	background-color: #0087FF;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.cabecera li{
	list-style: none;
	padding: 15px;
	display: inline-block;
}



.cabecera nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	text-align: right;
}

.nombre{
	text-align: left;
	font-size: 2rem;
}

	


.interfaz{
	background-color: #0087FF;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1.5px solid #000;
	cursor: pointer;
}

.salir{
	background-color: #B60303;
	padding: 2px;
	border-radius: 5px;
	border: 1.5px solid #000;
	color: #fff;
}

.entradalog{
	font-size: 1.5rem;
	margin-bottom: 5px;
	width: 200px;
}